html, body {
    background: pink;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

.content {
    flex: 1;
}

.m-15 {
    margin-left: 15px;
    margin-right: 15px;
}