{% load static %}
<header class="header">
    <div class="row align-items-center h-100">
        <div class="col-4 text-center">
            <a href="#" class="m-15">КАТАЛОГ</a>
            <a href="#" class="m-15">О НАС</a>
            <a href="#" class="m-15">FAQ</a>
        </div>

        <div class="col-4 text-center">
            <a href="/">
                <img src="{% static 'images/logo-header.png' %}" class="logo-header" alt="logo">
            </a>
        </div>

        <div class="col-4 text-center">
            <a href="/">
                <img src="{% static 'icons/search.png' %}" class="icon m-15" alt="search">
            </a>
            <a href="/">
                <img src="{% static 'icons/profile.png' %}" class="icon m-15" alt="profile">
            </a>
            <a href="/">
                <img src="{% static 'icons/favorite.png' %}" class="icon m-15" alt="favorite">
            </a>
            <a href="/">
                <img src="{% static 'icons/shop.png' %}" class="icon m-15" alt="shop">
            </a>
        </div>
    </div>
</header>