<header class="header">
    <div class="row align-items-center h-100 w-100 m-0 p-2">

        <div class="col-3 col-md-4 text-center">

            <div class="header-link d-md-none">
                <a href="#">
                    <img src="/static/img/burger.png" class="header-icon" alt="icon-search">
                </a>
            </div>

            <div class="header-link d-md-none">
                <a href="#">
                    <img src="/static/img/search.png" class="header-icon" alt="icon-search">
                </a>
            </div>
            
        </div>
        
        <div class="col-6 col-md-4 text-center">
            <a href="#">
                <img src="/static/img/logo_main.png" class="header-logo" alt="Логотип SlivkiStore">
            </a>
        </div>

        <div class="col-3 col-md-4 text-center d-flex">

            <div class="d-none d-md-inline-block header-link">
                <a href="#">
                    <img src="/static/img/search.png" class="header-icon" alt="icon-search">
                </a>
            </div>

            <div class="header-link d-none d-md-inline-block">
                <a href="#">
                    <img src="/static/img/favorite.png" class="header-icon" alt="icon-favorite">
                </a>
            </div>

            <div class="header-link">
                <a href="#">
                    <img src="/static/img/shop.png" class="header-icon" alt="icon-shop">
                </a>
            </div>

            <div class="header-link me-0">
                <a href="#">
                    <img src="/static/img/user-icon.png" class="header-icon" alt="icon-user">
                </a>
            </div>

        </div>

    </div>
</header>